<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rentals{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
        <a href="/rent-for-foreigners">Rent for Foreigners</a>
        <a href="/rent-for-russians">Rent for Russians</a>
        <a href="/useful-files">Useful Files</a>
    </nav>
    
    {% block content %}{% endblock %}
</body>
</html>
